
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  min-width: 40px;
} 
.tableR:after {
  clear: both;
  content: "";
  display: table;
}
.table {
  margin-bottom: 20px;
}
.GameType {
  margin-top: 20px;
}
.status {
  margin-bottom: 10px;
}
.square:focus {
  outline: none;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.game-info {
  margin-bottom: 30px;
}
.App {
  text-align: center;
}
.reset {
  margin: 20px;
}
